<% provide :title, "Dashboard" %>
<% provide :dashb_is_active, "active" %>

<div class="row">
  <div class="col m6 s12 l6 xl6 announcements">
    <div class="card">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>

      <div class="card-content">
        <span class="card-title activator">お知らせ</span>
      </div>

      <div class="card-stacked">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#todays_announce">今日</a></li>
            <li class="tab"><a href="#tomorrows_announce">明日</a></li>
          </ul>
        </div>

        <div class="card-content">
          <div id="todays_announce">
            <% unless @todays_announcements.empty? %>
              <ul class="collection">
                <% @todays_announcements.each do |anc| %>
                  <% icon_set = Announcement.mode_icons_and_colors[anc.mode] %>
                  <li class="collection-item avatar">
                    <i class="material-icons circle <%= icon_set[1] %>"><%= icon_set[0] %></i>
                    <span class="title"><%= Announcement.jp_translated_modes[anc.mode] %></span>
                    <p>
                      <%= Announcement.jp_translated_timing[anc.timing] %>
                    </p>

                    <%= link_to edit_announcement_path(anc), remote: true, class: 'btn-floating secondary-content' do %>
                      <i class="material-icons">edit</i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
          
          <div id="tomorrows_announce">
            <% unless @tomorrows_announcements.empty? %>
              <ul class="collection">
                <% @tomorrows_announcements.each do |anc| %>
                  <% icon_set = Announcement.mode_icons_and_colors[anc.mode] %>
                  <li class="collection-item avatar">
                    <i class="material-icons circle <%= icon_set[1] %>"><%= icon_set[0] %></i>
                    <span class="title"><%= Announcement.jp_translated_modes[anc.mode] %></span>
                    <p>
                      <%= Announcement.jp_translated_timing[anc.timing] %>
                    </p>
                    <%= link_to edit_announcement_path(anc), remote: true, class: 'btn-floating secondary-content' do %>
                      <i class="material-icons">edit</i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>

        <div class="card-action">
          <%= link_to new_announcement_path, remote: true, class: 'btn-floating waves-effect waves-light left' do %>
            <i class="material-icons red">add</i>
          <% end %>

          <%= link_to announcements_path, class: 'btn-floating waves-effect waves-light right' do %>
            <i class="material-icons grey">open_in_new</i>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col m6 s12 l6 xl6 events">
    <div class="card">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>

      <div class="card-content">
        <span class="card-title">イベント</span>
      </div>

      <div class="card-stacked">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#todays_events">今日</a></li>
            <li class="tab"><a href="#tomorrows_events">明日</a></li>
          </ul>
        </div>

        <div class="card-content">
          <div id="todays_events">
            <% unless @todays_events.empty? %>
              <ul class="collection">
                <% @todays_events.each do |ev| %>
                  <% if ev.priority == 'normal' %>
                    <% provide :priority_color, 'cyan accent-4' %>
                  <% elsif ev.priority == 'high' %>
                    <% provide :priority_color, 'red' %>
                  <% else %>
                    <% provide :priority_color, 'teal darken-3' %>
                  <% end %>
                  <li class="collection-item avatar">
                    <i class="material-icons circle <%= ev.priority_color %>">event</i>
                    <span class="title"><%= ev.title %></span>
                    <p>
                      <%= ev.start_at_time.to_s(:time_short) %> ~ <%= ev.end_at_time.to_s(:time_short) %>
                    </p>
                    <%= link_to edit_event_path(ev), remote: true, class: 'btn-floating secondary-content' do %>
                      <i class="material-icons">edit</i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
          <div id="tomorrows_events">
            <% unless @tomorrows_events.empty? %>
              <ul class="collection">
                <% @tomorrows_events.each do |ev| %>
                  <% if ev.priority == 'normal' %>
                    <% provide :priority_color, 'cyan accent-4' %>
                  <% elsif ev.priority == 'high' %>
                    <% provide :priority_color, 'red' %>
                  <% else %>
                    <% provide :priority_color, 'teal darken-3' %>
                  <% end %>
                  <li class="collection-item avatar">
                    <i class="material-icons circle <%= yield :priority_color %>">event</i>
                    <span class="title"><%= ev.title %></span>
                    <p>
                      <%= ev.start_at_time.to_s(:time_short) %> ~ <%= ev.end_at_time.to_s(:time_short) %>
                    </p>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>

        <div class="card-action">
          <%= link_to new_event_path, remote: true, class: 'btn-floating waves-effect waves-light red left' do %>
            <i class="material-icons circle">add</i>
          <% end %>

          <%= link_to events_path, class: 'btn-floating waves-effect waves-light grey right' do %>
            <i class="material-icons circle">open_in_new</i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col m6 s12 l6 xl6 tasks">
    <div class="card">
      <div class="progress">
        <div class="indeterminate"></div>
      </div>

      <div class="card-content">
        <span class="card-title activator">タスク</span>
      </div>

      <div class="card-stacked">
        <div class="card-tabs">
          <ul class="tabs tabs-fixed-width">
            <li class="tab"><a href="#todays_tasks">今日</a></li>
            <li class="tab"><a href="#tomorrows_tasks">明日</a></li>
          </ul>
        </div>

        <div class="card-content">
          <div id="todays_tasks">
            <%# unless @todays_start_tasks.empty? %>
              <ul class="collection">
                <li class="collection-item avatar">
                  <i class="material-icons circle cyan">assignment</i>
                  <span class="title">レポート提出</span>
                  <p>
                    17時まで
                  </p>
                  <%= link_to dashboard_home_path, remote: true, class: 'btn-floating secondary-content' do %>
                    <i class="material-icons">edit</i>
                  <% end %>
                </li>
              </ul>
            <%# end %>
          </div>
          <div class="tomorrows_tasks">
            <% unless @tomorrows_start_tasks.empty? %>
              <ul class="collection">
                <% @tomorrows_tasks.each do |ts| %>
                  <li class="collection-item"> <%=  ts.title %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>

        <div class="card-action">
          <%= link_to new_task_path, remote: true, class: 'btn-floating waves-effect waves-light red left' do %>
            <i class="material-icons circle">add</i>
          <% end %>

          <%= link_to tasks_path, class: 'btn-floating waves-effect waves-light grey right' do %>
            <i class="material-icons circle">open_in_new</i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
