<%= form_with(model: @announcement, local: true) do |form| %>
  <% if form.object.new_record? %>
    <% provide :form_title, "New" %>
    <% selected = "normal" %>
    <% field_activated = "" %>
  <% else %>
    <% provide :form_title, "Edit" %>
    <% flld_d = @announcement.date %>
    <% slctd_mode = @announcement.mode %>
    <% field_activated = "active" %>
  <% end %>

  <div class="modal-content">
    <h3><%= yield :form_title %></h3>

    <div class="row">
      <div class="date-picker col s4">
        <%= form.label :date, "日付" %>
        <input required="required" type="date" name="announcement[date]" class="datepicker" value=<%= flld_d %> >
      </div>
    </div>

    <div class="row">
      <div class="col s3 input-field">
        <%= form.select :timing, Announcement.jp_translated_timing.invert, required: true %>
        <%= form.label :timing, "タイミング" %>
      </div>
      <div class="col s3 input-field">
        <%= form.select :mode, Announcement.jp_translated_modes.invert, required: true %>
        <%= form.label :mode, "内容" %>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <a class="modal-action modal-close btn-flat left">Cancel</a>

    <% unless form.object.new_record? %>
      <%= link_to announcement, method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: 'btn waves-effect waves-light red left' do %>
        DELETE
      <% end %>
    <% end %>

    <button id="submit" class="btn waves-effect waves-light right" type="submit" name="action">
      Save
    </button>
  </div>
<% end %>
