<div class="card hoverable">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>

  <div class="card-content">
    <span class="card-title activator">タスク</span>
  </div>

  <div class="card-stacked">
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><%= link_to '今日', '#todays_tasks' %></li>
        <li class="tab"><%= link_to '明日', '#tomorrows_tasks' %></li>
      </ul>
    </div>

    <div class="card-content">
      <div id="todays_tasks">
        <% unless @todays_deadline_tasks.nil? %>
          <span>締め切り</span>
          <ul class="collection">
            <% @todays_deadline_tasks.each do |ts| %>
              <%= render 'tasks/column', task: ts, mode: 1 %>
            <% end %>
          </ul>
        <% end %>

        <% unless @todays_start_tasks.nil? %>
          <span>開始</span>
          <ul class="collection">
            <% @todays_start_tasks.each do |ts| %>
              <%= render 'tasks/column', task: ts, mode: 0 %>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div id="tomorrows_tasks">
        <% unless @tomorrows_deadline_tasks.nil? %>
          <span>締め切り</span>
          <ul class="collection">
            <% @tomorrows_deadline_tasks.each do |ts| %>
              <%= render 'tasks/column', task: ts, mode: 1 %>
            <% end %>
          </ul>
        <% end %>

        <% unless @tomorrows_start_tasks.nil? %>
          <span>開始</span>
          <ul class="collection">
            <% @tomorrows_start_tasks.each do |ts| %>
              <%= render 'tasks/column', task: ts, mode: 0 %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
