<div class="card">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>

  <div class="card-content">
    <span class="card-title activator">タスク</span>
  </div>

  <div class="card-stacked">
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><%= link_to '今日', '#todays_tasks' %></li>
        <li class="tab"><%= link_to '明日', '#tomorrows_tasks' %></li>
      </ul>
    </div>

    <div class="card-content">
      <div id="todays_tasks">
        <% unless @todays_deadline_tasks.empty? %>
          <span>締め切り</span>
          <ul class="collection">
            <% @todays_deadline_tasks.each do |ts| %>
              <li class="collection-item avatar">
                <i class="material-icons circle cyan">assignments</i>
                <span class="title"><%= ts.title %></span>
                <p>
                  <%= ts.deadline_time.to_s(:time_short) %> まで
                </p>
                <%= link_to edit_task_path(ts), remote: true, class: "btn-floating secondary-content" do %>
                  <i class="material-icons">edit</i>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <% unless @todays_start_tasks.empty? %>
        <span>開始</span>
        <ul class="collection">
          <% @todays_start_tasks.each do |ts| %>
            <li class="collection-item avatar">
              <i class="material-icons circle cyan">assignments</i>
              <span class="title"><%= ts.title %></span>
              <p>
                <%= ts.start_from_time.to_s(:time_short) %> から
              </p>
              <%= link_to edit_task_path(ts), remote: true, class: "btn-floating secondary-content" do %>
                <i class="material-icons">edit</i>
              <% end %>
            </li>
          <% end %>
          </ul>
        <% end %>
      </div>
      <div id="tomorrows_tasks">
        <% unless @tomorrows_deadline_tasks.empty? %>
          <span>締め切り</span>
          <ul class="collection">
            <% @tomorrows_deadline_tasks.each do |ts| %>
              <li class="collection-item avatar">
                <i class="material-icons circle cyan">assignments</i>
                <span class="title"><%= ts.title %></span>
                <p>
                  <%= ts.deadline_time.to_s(:time_short) %> まで
                </p>
                <%= link_to edit_task_path(ts), remote: true, class: "btn-floating secondary-content" do %>
                  <i class="material-icons">edit</i>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <% unless @tomorrows_start_tasks.empty? %>
          <span>開始</span>
          <ul class="collection">
            <% @tomorrows_start_tasks.each do |ts| %>
              <li class="collection-item avatar">
                <i class="material-icons circle cyan">assignments</i>
                <span class="title"><%= ts.title %></span>
                <p>
                  <%= ts.start_from_time.to_s(:time_short) %> から
                </p>
                <%= link_to edit_task_path(ts), remote: true, class: "btn-floating secondary-content" do %>
                  <i class="material-icons">edit</i>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="card-action">
      <%= link_to new_task_path, remote: true, class: 'btn-floating waves-effect waves-light red left' do %>
        <i class="material-icons circle">add</i>
      <% end %>

      <%= link_to tasks_path, class: 'btn-floating waves-effect waves-light grey right' do %>
        <i class="material-icons circle">open_in_new</i>
      <% end %>
    </div>
  </div>
</div>
