<% provide :title, "All Tasks" %>
<% provide :tasks_is_active, "active" %>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <span class="card-title activator">タスク<i class="material-icons right">settings</i></span>
      </div>

      <div class="card-stacked">
        <div class="card-content">
          <ul class="collection">
            <% unless @tasks.empty? %>
              <ul class="collection">
                <% @tasks.each do |ts| %>
                  <li class="collection-item avatar">
                    <i class="material-icons circle <%= ts.priority_color %>">event</i>
                    <span class="title"><%= ts.title %></span>
                    <p>
<<<<<<< Updated upstream
                      <%= ts.start_at_time.to_s(:time_short) %> ~ <%= ts.end_at_time.to_s(:time_short) %>
=======
                      <%= ts.start_from_time.to_s(:time_short) %> ~ <%= ts.deadline_time.to_s(:time_short) %>
>>>>>>> Stashed changes
                    </p>
                    <%= link_to edit_task_path(ts), remote: true, class: 'btn-floating secondary-content' do %>
                      <i class="material-icons">edit</i>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </ul>
        </div>

        <div class="card-action">
          <%= link_to new_task_path, remote: true, class: 'btn waves-effect waves-light' do %>
            NEW
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
