<div class="card">
  <div class="progress">
    <div class="indeterminate"></div>
  </div>

  <div class="card-content">
    <span class="card-title">イベント</span>
  </div>

  <div class="card-stacked">
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#todays_events">今日</a></li>
        <li class="tab"><a href="#tomorrows_events">明日</a></li>
      </ul>
    </div>

    <div class="card-content">
      <div id="todays_events">
        <% unless @todays_events.empty? %>
          <ul class="collection">
            <% @todays_events.each do |ev| %>
              <% if ev.priority == 'normal' %>
                <% provide :priority_color, 'cyan accent-4' %>
              <% elsif ev.priority == 'high' %>
                <% provide :priority_color, 'red' %>
              <% else %>
                <% provide :priority_color, 'teal darken-3' %>
              <% end %>
              <li class="collection-item avatar">
                <i class="material-icons circle <%= ev.priority_color %>">event</i>
                <span class="title"><%= ev.title %></span>
                <p>
                  <%= ev.start_at_time.to_s(:time_short) %> ~ <%= ev.end_at_time.to_s(:time_short) %>
                </p>
                <%= link_to edit_event_path(ev), remote: true, class: 'btn-floating secondary-content' do %>
                  <i class="material-icons">edit</i>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div id="tomorrows_events">
        <% unless @tomorrows_events.empty? %>
          <ul class="collection">
            <% @tomorrows_events.each do |ev| %>
              <% if ev.priority == 'normal' %>
                <% provide :priority_color, 'cyan accent-4' %>
              <% elsif ev.priority == 'high' %>
                <% provide :priority_color, 'red' %>
              <% else %>
                <% provide :priority_color, 'teal darken-3' %>
              <% end %>
              <li class="collection-item avatar">
                <i class="material-icons circle <%= yield :priority_color %>">event</i>
                <span class="title"><%= ev.title %></span>
                <p>
                  <%= ev.start_at_time.to_s(:time_short) %> ~ <%= ev.end_at_time.to_s(:time_short) %>
                </p>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>

    <div class="card-action">
      <%= link_to new_event_path, remote: true, class: 'btn-floating waves-effect waves-light red left' do %>
        <i class="material-icons circle">add</i>
      <% end %>

      <%= link_to events_path, class: 'btn-floating waves-effect waves-light grey right' do %>
        <i class="material-icons circle">open_in_new</i>
      <% end %>
    </div>
  </div>
</div>
