<%= form_with(model: @event, local: true) do |form| %>
  <div class="modal-content">
    <h3>Form</h3>

    <div class="row">
      <div class="col s9 input-field">
        <%= form.text_field :title, required: true %>
        <%= form.label :title, "タイトル" %>
      </div>

      <div class="col s3 input-field">
        <%= form.select :priority, options_for_select(Event.priorities.keys.to_a, 'normal') %>
        <%= form.label :priority, "優先度" %>
      </div>
    </div>

    <div class="row">
      <div class="date-picker col s4">
        <%= form.label :start_at_date, "開始日" %>
        <input type="date" name="event[start_at_date]" class="datepicker">
      </div>
      <div class="time-picker col s4">
        <%= form.label :start_at_time, "開始時間" %>
        <input type="time" name="event[start_at_time]" class="timepicker">
      </div>
    </div>

    <div class="row">
      <div class="date-picker col s4">
        <%= form.label :start_at_date, "終了日" %>
        <input type="date" name="event[end_at_date]" class="datepicker">
      </div>
      <div class="time-picker col s4">
        <%= form.label :start_at_time, "終了時間" %>
        <input type="time" name="event[end_at_time]" class="timepicker">
      </div>
    </div>

    <div class="col s10 input-field">
      <%= form.text_area :memo, :class => 'materialize-textarea' %>
      <%= form.label :memo, "メモ" %>
    </div>

    <!-- <div class="col s10 range-field">
      <input type="range" name="" value="">
    </div> -->
  </div>

  <div class="modal-footer">
    <a class="modal-action modal-close btn-flat right">Cancel
      <i class="material-icons right">clear</i>
    </a>

    <button id="submit" class="btn waves-effect waves-green left" type="submit" name="action">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
