<div class="modal-content">
  <h3>Form</h3>
<%= form_with(model: @event, local: true) do |form| %>
  <div class="input-field">
    <%= form.text_field :title, required: true %>
    <%= form.label :title %>
  </div>

  <div class="input-field">
    <%= form.date_field :start_at_date, required: true, readonly: true, id: "start_at_date" %>
    <%= form.label :start_at_date, "Start at", class: "active" %>
  </div>

  <div class="input-field">
    <%= form.date_field :end_at_date, required: true, readonly: true, id: "end_at_date" %>
    <%= form.label :end_at_date, "End at", class: "active" %>
  </div>

  <!-- <div class="input-field datetime_select">
    <%= form.datetime_select :end_at, id: :event_end_at, :date_separator => '/' %>
    <%= form.label :end_at %>
  </div> -->

  <div class="input-field">
    <%= form.text_area :memo, :class => 'materialize-textarea' %>
    <%= form.label :memo %>
  </div>
</div>
<div class="modal-footer">
  <a class="modal-action modal-close waves-effect waves-orange btn-flat right" onclick="unselect()">Cancel
    <i class="material-icons right">clear</i>
  </a>

  <button id="submit" class="btn waves-effect waves-green left" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
</div>
<% end %>
