<div class="modal-content">
  <h3>Form</h3>
<%= form_with(model: @event, local: true) do |form| %>
  <div class="input-field">
    <i class="material-icons prefix">title</i>
    <%= form.text_field :title, required: true %>
    <%= form.label :title %>
  </div>

  <div class="input-field datetime_select">
    <i class="material-icons prefix">event</i>
    <%= form.datetime_select :notif_at, id: :event_notif_at, :date_separator => '/' %>
    <%= form.label :notif_at %>
  </div>

  <%= form.label :repeat %>
  <div class="switch">
    <label>
      Off
      <input type="checkbox" name="event[repeat]">
      <span class="lever"></span>
      On
    </label>
  </div>

  <div class="row">
    <div class="col s4">
      <%= form.label :repeat_value %>
      <div class="input-field">
        <%= form.number_field :repeat_value, id: :event_repeat_value %>
      </div>
    </div>
    <div class="col s4">
      <%= form.label :repeat_unit %>
      <div class="input-field">
        <%= form.select :repeat_unit, Event.repeat_units.keys.to_a, {} %>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a class="modal-action modal-close waves-effect waves-orange btn-flat">Cancel
    <i class="material-icons right">clear</i>
  </a>

  <button id="submit" class="waves-effect waves-green btn-flat" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
<% end %>
</div>
