<p id="notice"><%= notice %></p>

<p>
  <strong>Notif at:</strong>
  <%= @event.notif_at %>
</p>

<p>
  <strong>Repeat:</strong>
  <%= @event.repeat %>
</p>

<p>
  <strong>Repeat value:</strong>
  <%= @event.repeat_value %>
</p>

<p>
  <strong>Repeat unit:</strong>
  <%= @event.repeat_unit %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
