<% provide :title, "Settings" %>
<% provide :settings_is_active, "active" %>

<h4>設定</h4>

<% @settings.each_key do |key| %>
  <div class="card hoverable s6">
    <div class="card-content">
      <span class="card-title activator">
        <%= Setting.jp_translated_settings[key] %>
        <i class="material-icons right">edit</i>
      </span>
    </div>
    <div class="card-content">
      <% if @settings[key].is_a? Hash %>
        <%= render 'table_hash', hash: @settings[key] %>
      <% else %>
        <%= @settings[key] %>
      <% end %>
    </div>
    <div class="card-reveal">
      <span class="card-title" onclick="$('form.<%= key %>').submit()">
        編集/保存
        <i class="material-icons right">send</i>
      </span>
      <% if @settings[key].is_a? Hash %>
        <%= render 'edit_table_hash', hash: @settings[key], key: key %>
      <% elsif key == 'exchange_before' %>
        <%= render 'edit_exchange', key: key, selects: Setting.currencies, selected: @settings[key] %>
      <% elsif key == 'exchange_after' %>
        <%= render 'edit_exchange', key: key, selects: Setting.base_currencies, selected: @settings[key] %>
      <% end %>
    </div>
  </div>
<% end %>

<%= coffee_script_tag do %>
  $(document).on 'turbolinks:load', () -> $('select').material_select()
<% end %>
