<li class="<%= yield :dashb_is_active %>"><%= link_to "ダッシュボード", dashboard_home_path %></li>
<li class="<%= yield :announcements_is_active %>"><%= link_to "お知らせ", announcements_path %></li>
<li class="<%= yield :events_is_active %>"><%= link_to "イベント", events_path %></li>
<li class="<%= yield :tasks_is_active %>"><%= link_to "タスク", tasks_path %></li>
<li class="<%= yield :settings_is_active %>"><%= link_to "設定", settings_path %></li>
