<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Gencon - <%= yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo"><%= yield :title %></a>
          <a href="" class="button-collapse" data-activates="sidenav" >
            <i class="material-icons">menu</i>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <%= render 'layouts/navigations' %>
          </ul>
      </nav>
    </div>
    <!-- for side navbar, hide on large resolution -->
    <ul id="sidenav" class="side-nav">
      <li class="logo center-align">
        <%= image_tag 'gencon-logo-square', class: 'logo'%>
      </li>
      <%= render 'layouts/navigations' %>
    </ul>
  </div>
    <div class="container">
      <%= yield %>
      <div id="form" class="load_point modal"></div>
    </div>

    <div id="loader-bg">
      <div id="loading-effect">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
