<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Gencon - <%= yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <!-- for side navbar, hide on large resolution -->
    <ul id="sidenav" class="side-nav">
      <li class="logo center-align">
        <%= image_tag 'gencon-logo-square', class: 'logo'%>
      </li>
      <%= render 'layouts/navigations' %>
    </ul>
  </div>
    <div class="container main">
      <%= yield %>
      <div id="form" class="load_point modal modal-fixed-footer"></div>
    </div>

    <!-- <div id="loader-bg">
      <div id="loading-effect">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </body>
</html>
