<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Gencon - <%= yield :title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Logo</a>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <% coffee_script_tag do %>
      $(document).ready ->
        $('select').material_select()
    <% end %>

    <div id="loader-bg">
      <div id="loading-effect">
        <div class="preloader-wrapper big active">
          <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
